<h1>Login</h1>

<div class="row">
    <form method="POST" action="/auth/login" class="col s12">
        <div class="row">
        <div class="form-group col-12">
            <label for="email">Email</label>
            <input id="email" type="email" class="form-control validate" name="email">
        </div>
        </div>
        <div class="row">
        <div class="form-group col-12">
            <label for="password">Password</label>
            <input id="password" type="password" class="form-control validate" name="password">
        </div>
        </div>
        <button class="submit" type="submit" name="action">Submit
            <i class="fa fa-paper-plane-o"></i>
        </button>
    </form>
</div>

<hr>

<div class="box">
    <h1>Or login through:</h1>
    
    <button>
        <a href="/auth/github">
            Github Login
            <i class="fa fa-github" aria-hidden="true"></i>
        </a>
    </button>
    
    <button>
        <a href="/auth/facebook">
            Facebook Login
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
    </button>
</div>
