<h1>This is the admin page, where you get extra yoga resources!</h1>

<h3>
    <a class="text-primary" href="http://www.ghoshyoga.org/postures-of-ghosh-yoga.html">Click here to see more poses and learn about GHOSH YOGA.</a>
</h3>

<h3>
    <a class="text-primary" href="https://www.nytimes.com/guides/well/beginner-yoga">Click here to get yoga poses for beginners.</a>
</h3>