<div id="toast-container"></div>
<script>

let errors = '<%- alerts.error %>'
let successes = '<%- alerts.success %>'

  document.addEventListener('DOMContentLoaded', function() {
    if (errors) {
        M.toast({
          html: errors,
          classes: 'toast red darken-4',
          displayLength: 4000
        })
    }
    if (successes) {
      M.toast({
          html: successes,
          classes: 'toast light-green accent-4',
          displayLength: 4000
        })
    }
  })

</script>