<div id="toast-container"></div>
<script>

let errmsg = 'Something is wrong: '

let errors = '<%- alerts.error %>'
let successes = '<%- alerts.success %>'

  document.addEventListener('DOMContentLoaded', function() {
    if (errors) {
        M.toast({
          html: errmsg.concat(errors),
          classes: 'toast text-white bg-danger',
          displayLength: 4000
        })
    }
    if (successes) {
      M.toast({
          html: successes,
          classes: 'toast text-white bg-success',
          displayLength: 4000
        })
    }
  })

</script>