<div id="toast-container"></div>
<script>

let errmsg = 'Something is wrong with: '

let errors = '<%- alerts.error %>'
let successes = '<%- alerts.success %>'

  document.addEventListener('DOMContentLoaded', function() {
    if (errors) {
        M.toast({
          html: errmsg.concat(errors),
          classes: 'toast red darken-4',
          displayLength: 4000
        })
    }
    if (successes) {
      M.toast({
          html: successes,
          classes: 'toast teal accent-4',
          displayLength: 4000
        })
    }
  })

</script>