<footer class="page-footer center-align deep-orange">
    <div class="container">
        <div class="row">
        <div class="col s12">
            <h5 class="white-text">❂ Created by Yashoma Boodhan | Copyright 2020 - <%= new Date().getFullYear() %> ❂</h5>
        </div>
        </div>
    </div>
</footer>