<nav class="nav-extended">
  <div class="nav justify-content-center brand-logo"">
    <a href="#"> Ỵash ❁ Ỵoga </a>
  </div>

  <div class="nav-content">
    <ul class="tabs nav nav-tabs nav-fill">
      <% if (!user) { %>
      <li class="tab nav-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
      <li class="tab nav-item"><a href="/auth/signup">Sign-Up</a></li>
      <li class="tab nav-item"><a href="/auth/login">Login</a></li>
      <% } else { %>
      <li class="tab nav-item"><a href="/routines"><i class="fa fa-folder"></i> My Routines</a></li>
      <li class="tab nav-item"><a href="/journal"><i class="fa fa-book"></i> My Journal</a></li>
      <li class="tab nav-item"><a href="/articles"><i class="fa fa-newspaper-o"></i> Articles</a></li>
      <li class="tab nav-item"><a href="/inspiration"><i class="fa fa-users"></i> Get Inspired</a></li>

      <div class="dropdown-show">
        <li class="tab nav-item dropdown-toggle float-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= user.firstname %> <i class="fa fa-user-circle small"></i>
        </li>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/profile"><i class="fa fa-info-circle"></i> About Me</a>
          <a class="dropdown-item" href="#"><i class="fa fa-bar-chart"></i> User Stats</a>
          <% if (user.admin) { %>
            <a class="dropdown-item" href="/profile/admin"><i class="fa fa-key"></i> Admin</a>
          <% } %>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/auth/logout"><i class="fa fa-sign-out"></i> Logout</a>
        </div>
      </div>
      <% } %>
    </ul>
  </div>
</nav>



<!-- <nav class="blue lighten-3">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><i class="material-icons">pets</i>myWebsite</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <% if (!user) { %>
          <li><a href="/auth/login">Login</a></li>
          <li><a href="/auth/signup">Sign-up</a></li>
        <% } else { %>
          <li>Hi, <%= user.firstname %></li>
          <% if (user.admin) { %>
            <li><a href="/profile/admin">Admin</a></li>
          <% } %>
          <% if (user.githubId) { %>
            <li><a href="/profile/repos">View Repos</a></li>
          <% } %>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/auth/logout">Logout</a></li>
        <% } %>
      </ul>
    </div>
  </nav> -->