<nav class="nav-extended">
  <div class="nav justify-content-center brand-logo"">
    <a href="#"> Ỵash ❁ Ỵoga </a>
  </div>

  <div class="nav-content">
    <ul class="tabs nav nav-tabs nav-fill">
      <% if (!user) { %>
      <li class="tab nav-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
      <li class="tab nav-item"><a href="/auth/signup">Sign-Up</a></li>
      <li class="tab nav-item"><a href="/auth/login">Login</a></li>
      <% } else { %>
      <li class="tab nav-item"><a href="/routines"><i class="fa fa-folder"></i> My Routines</a></li>
      <li class="tab nav-item"><a href="/journal"><i class="fa fa-book"></i> My Journal</a></li>
      <li class="tab nav-item"><a href="/inspiration"><i class="fa fa-users"></i> Get Inspired</a></li>

      <div class="dropdown-show nav-item">
        <li class="tab nav-item dropdown-toggle float-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= user.firstname %> <i class="fa fa-user-circle small"></i>
        </li>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/profile"><i class="fa fa-info-circle"></i> About Me</a>
          <% if (user.admin) { %>
            <a class="dropdown-item" href="/profile/admin"><i class="fa fa-key"></i> Admin</a>
          <% } %>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/auth/logout"><i class="fa fa-sign-out"></i> Logout</a>
        </div>
      </div>
      <% } %>
    </ul>
  </div>
</nav>