<h1> OOPS! </h1>

<h2> There seems to be an error... </h2>

<div class="row">
    <div class="col s6">
        <h3>Meanwhile...</h3>
    </div>
    <div class="col s6">
        <img src="http://placekitten.com/300/250" alt="Meow" class="responsive-img">
    </div>
</div>