html, body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    flex: 1 0 auto;
    margin-top: 2em !important;
    margin-bottom: 2em !important;
    color: #221f20;
}

#toast-container {
    left: 40% !important;
    right: auto !important;
    bottom: auto !important;
  }

.tabs {
    overflow: visible !important;
}

.dropdown-item {
    max-height: 2em;
}

.dropdown-toggle {
    margin-right: 1em !important;
}

.tabs, .tabs a, footer {
    font-family: 'Amatic SC', cursive;
    font-size: 1.3em !important;
}

.dropdown-toggle {
    font-size: 1.5em !important
}

.nav-content {
    margin-top: 1em;
}

.brand-logo {
    text-decoration: none !important;
    margin-top: 0.2em;
    font-family: 'Amatic SC', cursive;
    font-size: 3em !important;
}

.brand-logo:hover, a:hover, button a:hover {
    color: white;
    font-weight: bold;
}

button {
    background-color: #ff5722;
    border: none;
    padding: 0.5em 1em 0.5em 1em;
}

button a {
    color: white;
    font-size: 1.5em;
}