html, body {
    margin: 0;
    padding: 0;
}

main {
    text-align: center;
}

#toast-container {
    left: 40% !important;
    right: auto !important;
    bottom: auto !important;
  }

.tabs {
    overflow: visible !important;
}

.dropdown-item {
    max-height: 2em;
}

.dropdown-toggle {
    margin-right: 1em !important;
}