<h1><%= routine.name %></h1>

<button type="button" id="start_routine_button"><i class="fa fa-play-circle"></i> Start Routine</button>
<button type="button" id="stop_routine_button"><i class="fa fa-stop-circle"></i> Stop Routine</button>

<hr>

<div class="container col-10">

</div>

<audio id="bensound-betterdays" src="/music/bensound-betterdays.mp3" loop></audio>
<audio id="bensound-india" src="/music/bensound-india.mp3" loop></audio>
<audio id="bensound-relaxing" src="/music/bensound-relaxing.mp3" loop></audio>

<script>
//start button
//check music choice and play that one
let startButton = document.getElementById('start_routine_button')
let stopButton = document.getElementById('stop_routine_button')

document.addEventListener('DOMContentLoaded', () => {
  startButton.addEventListener( 'click', () => {
    startButton.style.display = 'none'
    stopButton.style.display = 'inline-block'

    document.getElementById('<%= routine.music %>').play()
    
  })
})


// const INTERVAL_DELAY = 2500
// let currentImages = []
// let currentIndex = 0
// let interval = null

// // Stop Button Click
// document.getElementById('stop-button').addEventListener('click', () => {
//   // Hide the results
//   document.getElementById('slideshow-container').style.visibility = 'hidden'

//   // Show the search form
//   document.getElementById('form-container').style.display = 'block'

//   // Clear the interval
//   clearInterval(interval)
// })

// const startSlideshow = () => {
//   console.log('Starting slides')
//   // Set current index to zero (first pic)
//   currentIndex = 0

//   // Set up the first image (so we don't have to wait)
//   placeImage()

//   // Hide the form container and show the slideshow container
//   document.getElementById('form-container').style.display = 'none'
//   document.getElementById('slideshow-container').style.visibility = 'visible'

//   // Start the interval
//   interval = setInterval(changeImage, INTERVAL_DELAY)
// }

// const changeImage = () => {
//   // Increment the curent index
//   currentIndex++

//   // Check the bound of the array
//   if (currentIndex >= currentImages.length) {
//     currentIndex = 0
//   }

//   // Replace the image
//   placeImage()
// }

// const placeImage = () => {
//   // Empty the result div
//   document.getElementById('result').innerHTML = ''

//   // Create an img tag
//   let img = document.createElement('img')
//   img.src = currentImages[currentIndex].url
//   img.alt = currentImages[currentIndex].title

//   // Create an h2 to hold the title
//   let h2 = document.createElement('h2')
//   h2.textContent = currentImages[currentIndex].title + (currentImages[currentIndex].gold ? ' 🏆 ' : '')

//   // Create an h3 to hold the subreddit
//   let h3 = document.createElement('h3')
//   h3.textContent = 'r/' + currentImages[currentIndex].subreddit
//   h3.style.fontWeight = 'bold'

//   // Add the created elements to the page (result div)
//   document.getElementById('result').append(img)
//   document.getElementById('result').append(h2)
//   document.getElementById('result').append(h3)
// }

</script>