<h1><%= routine.name %></h1>

<button type="button" id="start_routine_button"><i class="fa fa-play-circle"></i> Start Routine</button>
<button type="button" id="stop_routine_button"><i class="fa fa-stop-circle"></i> Stop Routine</button>

<hr>

<div class="container col-10">

</div>

<audio id="bensound-betterdays" src="/music/bensound-betterdays.mp3" loop></audio>
<audio id="bensound-india" src="/music/bensound-india.mp3" loop></audio>
<audio id="bensound-relaxing" src="/music/bensound-relaxing.mp3" loop></audio>

<script>
let startButton = document.getElementById('start_routine_button')
let stopButton = document.getElementById('stop_routine_button')

document.addEventListener('DOMContentLoaded', () => {
  startButton.addEventListener( 'click', () => {
    startButton.style.display = 'none'
    stopButton.style.display = 'inline-block'
    document.getElementById('<%= routine.music %>').play()
    stopButton.addEventListener( 'click', () => {
      document.getElementById('<%= routine.music %>').pause()
    })

    //start the slideshow

  })
})
</script>